<div class="article__wysiwyg" id="text" itemprop="articleBody"><p><strong>Махачкала по целому ряду причин является
    наиболее уязвимым городом республики с точки зрения готовности к возможному сейсмическому событию, которое рано или
    поздно произойдет (согласно прогнозам Института физики Земли РАН, в ближайшие годы вероятность негативных
    сейсмических событий на территории Дагестана будет существенно увеличиваться). При этом сценарий возможного
    землетрясения близок к гаитянскому, когда в 2010 году в результате семибалльного землетрясения около 200 тысяч
    человек погибли, 300 тысяч оказались ранены.</strong></p>
    <p>Такое мнение озвучил месяц назад на заседании Кавказского политико-экономического клуба &laquo;Развитие регионов:
        стратегия-2050&raquo; старший научный сотрудник Института проблем рынка РАН Михаил Чернышов.</p>
    <p>Проблему эту &laquo;НД&raquo; в своих публикациях поднимало уже не раз, а Чернышов впервые обозначил масштабы
        возможных жертв, в результате чего ситуация, воспринимаемая многими как данность, неожиданно приобрела зловещий
        характер.</p>
    <p>Ситуация, в результате которой жители дагестанской столицы, по существу, превратились в заложников поневоле,
        долгое время замалчивалась, дагестанские чиновники призывали не поднимать панику. Сегодня же, по мнению
        Чернышова, дальнейшее сохранение статус-кво на фоне реальных рисков граничит с преступлением. Ученый считает,
        что уже сегодня следует озаботиться реновацией (снос старых кварталов и возведение на этом месте новых)
        Махачкалы (на эту тему мы подробно поговорим в следующем номере &laquo;НД&raquo;). Как сказано в докладе,
        государство, которое десятилетиями закрывало глаза на злоупотребления чиновников, сегодня должно &laquo;ответить
        деньгами&raquo;.</p>
    <p>Стоит ли всерьез опасаться возможного землетрясения в Дагестане, корреспондент &laquo;НД&raquo; спросил у Василия
        Черкашина, доктора геолого-минералогических наук, директора Института геологии Дагестанского научного центра
        РАН.</p>
    <p><em>&mdash; Василий Иванович, насколько известно, сегодня ученые не могут прогнозировать землетрясения?</em></p>
    <p>&mdash; Это если речь идет о краткосрочных прогнозах, таких как &laquo;через месяц&raquo;, &laquo;через год&raquo;.
        Долгосрочные же прогнозы (на сотни лет) давно уже стали реальностью. Продвинулись мы и в среднесрочных прогнозах
        (до ста лет). Статистика показывает, что они подтверждаются в 50% случаев. Это достаточно высокий результат.
        Поэтому мы с вами будем говорить о среднесрочных прогнозах. А они говорят о том, что в обозримом будущем в
        Дагестане возможно серьезное землетрясение. Связано это с тем, что уже много лет мы наблюдаем серьезные
        тектонические подвижки, в результате которых Аравийская плита, а также Анатолийская платформа постепенно
        усиливают давление на Русскую (Скифскую) платформу, создавая на Кавказе зону повышенного сейсмического
        напряжения. По данным Института физики Земли, в ближайшие 30&ndash;40 лет на Кавказе ожидается повышение
        сейсмичности и вполне может произойти сейсмическое событие с магнитудой 6&ndash;7 и более.</p>
    <p>Согласно проведенному общему сейсморайонированию России (ОСР-2016), Дагестан отнесен к 9&ndash;10-балльной зоне
        по интенсивности сейсмических сотрясений. Это достаточно серьезные сигналы, позволяющие нам предполагать, что
        возможность сильного сейсмического события в республике достаточна высока.</p>
    <p><em>&mdash; Вы сказали о сейсморайонировании. Можно подробнее о том, что показали исследования, проведенные в
        Махачкале?</em></p>
    <p>&mdash; С удовольствием бы ответил на этот вопрос, но, увы, не могу. В идеале микросейсморайонирование Махачкалы,
        а также других городов и районов республики, которые отнесены к категории повышенной сейсмической опасности,
        должны проводиться раз в десять лет. Это, кстати, прописано в законодательной базе, в тех же СНиПах
        (строительных нормах и правилах. &mdash; &laquo;НД&raquo;). Между тем в республике эти работы последний раз
        проводились более 30 лет назад. За это время существенно поменялись горно-геологические условия, гидросфера,
        свойства грунтов и т.д. Ясно, что балльность Махачкалы изменилась, но как, никто сказать не может.</p>
    <p>По этому вопросу я неоднократно обращался к главам Дагестана, начиная с Муху Алиева, и в Минстрой. Все
        соглашаются, что такая работа нужна, но при этом ссылаются на отсутствие денежных средств. Я спрашивал у наших
        чиновников: &laquo;Вы понимаете, что на одной чаше весов лежат деньги, а на другой &mdash; человеческие жизни?&raquo;
        В ответ говорили, что все понимают, но помочь ничем не могут.</p>
    <p><em>&mdash; А что представляет собой карта микросейсморайонирования населенного пункта? Она поделена на участки с
        указанием балльности каждого?</em></p>
    <p>&mdash; Никаких участков. Есть просто определенные изолинии, ограничивающие участки с той или иной степенью
        балльности. При этом вполне возможен вариант, при котором строительная площадка может располагаться на двух
        разных зонах. К примеру, в зонах 6-ти и 8-ми баллов. В таком случае категорически запрещается строить дом
        поперек этих изолиний, поскольку части дома окажутся в разных зонах. Хорошо если его построят с учетом
        возможности восьмибалльного землетрясения. А если за основу возьмут данные на участке, находящемся в
        шестибалльной зоне?..</p>
    <p><em>&mdash; Я правильно понял &mdash; изолинии разной балльности могут проходить очень близко друг от друга?</em>
    </p>
    <p>&mdash; Все правильно. Иногда площади даже соприкасаются друг с другом, так что рядом могут оказаться абсолютно
        разные по свойствам грунтов области. Знаете многоэтажку неподалеку от гостиницы &laquo;Ленинград&raquo; на месте
        бывшей бани?</p>
    <p><em>&mdash; Знакомые строители говорили, что дом достаточно проблемный, в том числе из-за повышенной
        этажности.</em></p>
    <p>&mdash; Несмотря на то, что эти два здания расположены на расстоянии 300 метров друг от друга, построены они на
        разных грунтах. Гостиница &laquo;Ленинград&raquo; &mdash; на скальном, а эта высотка &mdash; на рыхлых грунтах.
        В первом случае при сейсмическом событии воздействие на строение будет на 1&ndash;2 балла ниже, во втором,
        соответственно, на 1&ndash;2 балла выше. То есть при землетрясении в пять баллов в гостинице будет ощущаться 3&ndash;4
        балла, а в жилом доме по соседству &mdash; 6&ndash;7. Чувствуете разницу?</p>
    <p>Помимо микросейсморайонирования необходимо &mdash; это очень важный момент &mdash; провести площадные съемки с
        учетом свойств грунтов на территории города. Этого у нас тоже нет.</p>
    <p><em>&mdash; Знакомый строитель говорил мне, что при рытье котлована он просит провести исследования,
        показывающие, затоплялся данный участок или нет. По его мнению, на участках, подвергающихся воздействию
        подпочвенных вод, необходимо к общей балльности добавлять один балл, иначе возможна ошибка в расчетах.</em></p>
    <p>&mdash; Все верно, побольше бы таких строителей. Из-за ветхости махачкалинских сетей, превращающих рыхлые почвы в
        подземные болота, это стало серьезной проблемой в городе. Сухих участков у нас практически нет, поэтому
        необходимость площадных съемок возрастает многократно.</p>
    <p><em>&mdash; В настоящее время в Махачкале время от времени случаются землетрясения, к счастью, не превышающие
        четырех баллов. Кто-нибудь отслеживает влияние этих сейсмических событий на здания?</em></p>
    <p>&mdash; Больной вопрос. Раньше отслеживали мы, теперь &mdash; никто. В свое время за собственные средства мы
        построили рядом со зданием научного центра маленькую сейсмометрическую станцию, подключив к ней датчики,
        установленные на каждом этаже. Аналогичные датчики стояли и в одноэтажном здании. Это давало нам картину того,
        как сейсмособытие ощущалось на разных уровнях, позволяло просчитать нагрузку на каждом этаже и вычислить
        ускорения, которые очень важны для строителей. В 2015 году эту станцию разрушили, и она прекратила работу.
        Деньги, увы, у нас сегодня решают все.</p>
    <p><em>&mdash; Получается, что Махачкала сегодня застраивается буквально &laquo;вслепую&raquo;?</em></p>
    <p>&mdash; При этом требования к качеству строительства сильно понизились, поскольку активно работает коррупционная
        составляющая, и поэтому ситуация практически вышла из-под контроля.</p>
    <p><em>&mdash; То есть прогнозы Чернышова соответствуют реальному положению дел?</em></p>
    <p>&mdash; Скорее всего. Категорически утверждать я не могу. Я ведь ученый: чтобы делать какие-то выводы, я должен
        опираться на конкретные исходные данные. А их попросту нет. Я могу лишь предполагать, что за последние годы
        сейсмическая ситуация в Махачкале ухудшилась. Я вижу, что множество зданий в городе строятся просто халтурно.
        Это подтверждает и строительная инспекция, по данным которой большинство домов необходимо в лучшем случае
        реконструировать, а в худшем &mdash; сносить.</p>
    <p>По-хорошему, в нашей зоне необходимо проверить все дома без исключения и по каждому принять соответствующее
        решение: эти дома нормальные, эти &mdash; проблемные. При этом каждый проблемный дом необходимо протестировать с
        точки зрения безопасности. Если его можно &laquo;спасти&raquo;, соответствующим образом усилив конструкцию, к
        примеру, установив дополнительные ребра жесткости, &mdash; это одно дело. Если дом представляет собой готовую
        братскую могилу, его надо сносить без всякой жалости, чтобы спасти, возможно, десятки и сотни жизней.</p>
    <p>Если бы у меня сейчас были результаты мониторинга махачкалинских многоэтажек с точки зрения их сейсмостойкости, я
        бы вам легко дал примерный расклад по возможным жертвам при серьезном сейсмическом событии. Но поскольку таких
        данных нет, никакими цифрами оперировать я права не имею. Скажу только, что ситуация удручающая. И очень
        опасная. Поэтому, уверен, нужна серьезная государственная программа, учитывающая все эти негативные моменты и
        просчеты последних лет. Необходим государственный подход, учитывающий то, что мы сегодня оказались в зоне
        повышенной сейсмической активности. И, естественно, нужна активная реновация Махачкалы, чтобы город не
        превратился в братскую могилу.</p></div>